<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEGy6OukSj1h1fAwGK5X8s7f3giZ3p484</string>
	<key>GCM_SENDER_ID</key>
	<string>1019758005589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learning.airplaneApps</string>
	<key>PROJECT_ID</key>
	<string>airplane-4f507</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-4f507.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019758005589:ios:df3cb9f49e79257e19f3dc</string>
</dict>
</plist>